attrs==25.3.0
certifi==2025.6.15
charset-normalizer==3.4.2
greenlet==3.2.3
idna==3.10
imageio==2.37.0
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
lazy_loader==0.4
llvmlite==0.44.0
networkx==3.5
numba==0.61.2
numpy==2.2.6
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
packaging==25.0
pillow==11.3.0
platformdirs==4.3.8
playwright==1.53.0
pooch==1.8.2
pyee==13.0.0
PyMatting==1.1.14
referencing==0.36.2
rembg==2.0.66
requests==2.32.4
rpds-py==0.26.0
scikit-image==0.25.2
scipy==1.16.0
tifffile==2025.6.11
tqdm==4.67.1
typing_extensions==4.14.1
urllib3==2.5.0
