/* resources/css/app.css */

@import 'general.css';
@import '@fortawesome/fontawesome-free/css/all.min.css';
@import 'menu-default.css';
@import 'menu-fancy.css';
@import 'menu-modern.css';

/* Base Tailwind Imports */
@tailwind base;
@tailwind components;
@tailwind utilities;
